.container {
  margin: 0 auto;
  max-width: 300px;
}

.login__form,
.register__form {
  text-align: center;
}

.login__header,
.register__header {
  margin: 50px 0 20px;

  font-family: "Oxygen Bold";
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #1a237e;
}

.login__title,
.register__title {
  margin-bottom: 15px;
}

.login__login,
.login__password,
.register__name,
.register__login,
.register_password,
.register__repeat-password {
  margin-bottom: 15px;
  padding: 0 10px;
  width: 300px;
  height: 30px;
  box-sizing: border-box;

  border: 2px solid #5c6bc0;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}

.login__login:hover,
.login__login:focus,
.login__password:hover,
.login__password:focus,
.register__name:hover,
.register__name:focus,
.register__login:hover,
.register__login:focus,
.register_password:hover,
.register_password:focus,
.register__repeat-password:hover,
.register__repeat-password:focus {
  border-color: #3949ab;
}

.btn {
  width: 120px;
  height: 35px;

  font-family: "Oxygen Bold";
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #5c6bc0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus {
  background-color: #3949ab;
}

.btn:active {
  background-color: #283593;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.btn:active span {
  opacity: 0.3;
}

.login__signup,
.register__signin {
  margin-top: 15px;
  margin-bottom: 0;

  text-align: center;
}

.link {
  font-family: "Oxygen Bold";
  color: #5c6bc0;
}

.link:hover,
.link:focus {
  color: #3949ab;
}

.link:active {
  color: #283593;
}
