.header {
  display: flex;
  align-items: center;
  height: 60px;

  color: #000000;

  background-color: #5c6bc0;
  border-radius: 4px;
}

.header__logo-link {
  padding: 0 10px;
}

.header__logo {
  vertical-align: middle;
}

.header__description {
  font-family: "Oxygen Bold";
  font-size: 28px;
  color: #000000;
}

.navigation {
  margin-left: auto;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
}

.navigation__item {
}

.navigation__link {
  padding: 17px 10px;

  font-family: "Oxygen Bold";
  font-size: 20px;
  color: #000000;
}

.navigation__link:hover {
  background-color: #3f51b5;
  color: rgba(0, 0, 0, 0.6);
}

.navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}
